html{
    background: url("../images/back_image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scrollbar-darkshadow-color:aqua
}
h1, h2 , h3, h4 , h5 ,h6
{
    margin-bottom:1px;
}
#lft
{
    margin-left:12.500em;  
}
.tm-container{
   max-width:100%;
   margin:0 12.375em;
   border:3px solid white;  
}
img{
    border-radius: 100%;
    transform: translateX(450%);
    width: 10%;
    height:auto;
    object-position: center;
    
}
*{
	margin: 0;
	padding: 0;
}
.nav{
    margin-top:2px;
	width: 75.000em;
	height: 3.750em;
    z-index: 1;
    position: relative;
    margin: 0 auto;
	opacity:0.95;
	border-radius: 0.313em;
}
.nav ul li{
	list-style: none;
	width: 12.500em;
	line-height: 3.750em;
	position: relative;
	opacity:0.95;
	box-shadow: 0px 2px 5px 0px grey;
	text-align: center;
	float: left;
	background: #484848;
    border-radius: 0.313em;
}
.nav ul li ul{
	position: absolute;
}
.nav > ul > li:nth-of-type(1){
	border-radius: 5px 0px 0px 5px;
}
.nav > ul > li:nth-of-type(5){
	border-radius: 0px 5px 5px 0px;
}
.nav ul li a{
    font-family: 'Exo', sans-serif;
    font-size: 1.250em; 
	color: #fbfbfb;
	width: 200px;
	height: 58px;
	display: inline-block;
	text-decoration: none;
}
.nav ul li a:hover{
	
    background-color:green;
    color: chartreuse;
	border-bottom: 2px solid #fff;
    background-color:green;
    opacity:0.8;
    border-radius: 5px 5px 5px 5px;
}
.nav ul li ul{
	display: none;
}
.nav ul li:hover ul{
	display: block;
}
.fa{
	margin-right: 5px;
}
.fa-list.modify{
	display: none;
	font-size: 1.875em;
	position: absolute;
	right: 1.875em;
	top:3.750em;
	cursor: pointer;
}
.container{
	width: 62.500em;
	height: 12.500em;
	margin: 0 auto;
	padding:1.250em 1.250em;
}
@media screen and (max-width: 480px){
	header{
		width: 100%;
	}
	.nav{
		display: none;
		width: 100%;
		height: auto;
	}
	ul li{
		width: 100%;
		float: none;
	}
	ul li a{
		width: 100%;
		display: block;
	}
	ul li ul{
		position: static;
	}
	ul li ul li a{
		background: #222;
	}
	.fa-list.modify{
		display: block;
	}
	.container{
		width: 100%;
		height: auto;
	}
	body{
		overflow-x:hidden;
	}
}
.box1, .box2 ,.box3,.box3,.box4,.box5
{
    display:inline-block;
    width:25%;
    text-align:center;
    margin-right:4px;
}
#sec
{
    background:black;
    opacity:0.8;
    width: 75.000em;
	height: auto;
    margin: 0 auto;
	border-radius: 5px;
    padding:0;
}
.box2
{
    margin-top:5em;
    max-width:100%;
    height:auto;
    position:absolute;
    top:67%;
    left:32%;
    display:inline-block;
    width:30%;
    transform:translate(-50%, -50%);
    width:15.000em;
    height:25.000em;
    background:black;
    box-sizing:border-box;
    padding:0.938em;
    transition:.5s;
    opacity:0.8;
    overflow:hidden;
}
.box5
{
    margin-top:5em;
    position:absolute;
    top:67%;
    left:86%;
    display:inline-block;
    width:30%;
    transform:translate(-50%, -50%);
    width:15.000em;
    height:25.000em;
    background:black;
    box-sizing:border-box;
    padding:0.938em;
    transition:.5s;
    opacity:0.8;
    overflow:hidden;
}
.box4
{
    margin-top:5em;
    position:absolute;
    top:67%;
    left:68%;
    display:inline-block;
    width:30%;
    transform:translate(-50%, -50%);
   width:15.000em;
    height:25.000em;
    background:black;
    box-sizing:border-box;
    padding:0.938em;
    transition:.5s;
    opacity:0.8;
    overflow:hidden;
}
.box3
{
    margin-top:5em;
    position:absolute;
    top:67%;
    left:50%;
    display:inline-block;
    width:30%;
    transform:translate(-50%, -50%);
     width:15.000em;
    height:25.000em;
    background:black;
    box-sizing:border-box;
    padding:0.938em;
    transition:.5s;
    opacity:0.8;
    overflow:hidden;
}
.box1
{
    margin-top:5em;
    position:absolute;
    top:67%;
    left:14%;
    display:inline-block;
    width:30%;
    transform:translate(-50%, -50%);
    width:15.000em;
    height:25.000em;
    background:black;
    box-sizing:border-box;
    padding:0.938em;
    transition:.5s;
    opacity:0.8;
    overflow:hidden;
    margin-bottom:3em;
}
.box1 p,.box2 p,.box3 p,.box4 p,.box5 p
{
    margin:0;
    padding:0;
    font-size:14px;
    transition:.5s;
    color:#fff;
    transform:scale(.8);

}
.box1:before,.box2:before,.box3:before,.box4:before,.box5:before
{
    content:'';
    position:absolute;
    width:0%;
    height:0%;
    top:0;
    left:0;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    opacity:0;
    transition:.5s;
    box-sizing:border-box;

}
.box1:after,.box2:after,.box3:after,.box4:after,.box5:after
{
    content:'';
    position:absolute;
    width:0%;
    height:0%;
    bottom:0;
    right:0;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    opacity:0;
    transition:.5s;
    box-sizing:border-box;

}
    
#body
{
    margin:0;
    padding:0;
    background:#262626;
    opacity:0.8;
}
.box1:hover:before,.box2:hover:before,.box3:hover:before,.box4:hover:before,.box5:hover:before
{
    width:100%;
    height:100%;
    opacity:1;
} 
.box1:hover:after,.box2:hover:after,.box3:hover:after,.box4:hover:after,.box5:hover:after
{
    width:100%;
    height:100%;
    opacity:1;
} 
.box1:hover p,.box2:hover p,.box3:hover p,.box4:hover p,.box5:hover p
{
    transform:scale(1);
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover
{
    box-shadow: 0 25px 30px rgba(0,0,0,.5);
    z-index:1;
    
}
.box1 span,.box2 span,.box3 span,.box4 span,.box5 span
{
    position:absolute;
    top:0;
    left:-120%;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.2);
    transition:.5s;
    transition-delay:1s;
    transform:skewX(5deg);
}
.box1:hover span,.box2:hover span,.box3:hover span,.box4:hover span,.box5:hover span
{
    left:120%;
}
.foot
{
    font-size: 1.375em;
    background: rgba(0,0,0,0.5);
    position:fixed;
    text-align: center;
    bottom:0;
    width:100%;
	font-family: 'Lobster', cursive;
	font-family: 'Dancing Script', cursive;
    padding:0.4em;
    color: aqua;
}
 #cent
 {
     text-align:center;
 }

    display:none;
    background:#55aa7f;
}
#lit
{
	font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
}

#menu > li > ul li > ul{   /* Third Level & beyond */
    display:none;
    background:#55aa7f;
}
#menu > li > ul li:hover > ul{
    display:block;
    position:absolute;
    left:100%;
    border-left:solid 3px #fff;
    top:0;
    width:auto;
}
#menu > li > ul > li ul > li{
    display:block;
    
    
    white-space:nowrap;
}
#menu > li > ul > li ul > li:hover > span{
    color:#fff;
}

.levelThreeAlign{position:relative;}
h1,h2,h3,h4,h5,h6{
	color:white;
}
 /*----------------------------------------------------------------------------------------------------------------------------------------------------*/
 /*####################################################################################################################################################*/
 